/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('C:\Users\Vikas M Patil\Desktop\React\Project\bmw-m4-cs-hd-01.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;

    
  }
  
  h1 {
    font-size: 2.5rem;
    color: #222;
    text-align: center;
  }

  header{
    background-color:white;
    color: #fff;
    padding: 2px;
    margin: 5px;
    border:5px solid black;

  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .car-card {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .car-card:hover {
    transform: scale(1.05);
  }
  
  .car-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00aaff;
  }
  
  .buy-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #444;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black;
    color: #f4f4f4;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.card button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

.car{
     color: brown;
}
